:root {
  --background-dark: linear-gradient(#1f0134, #3f0023);
  --text-dark: #f1f1f1;
  --h2-color-dark: #fcdac0;
  --h4-color-dark: #FF9100;
  --p-color-dark: #fab682;
  --modal-content-background-color-dark: #000000;
  --modal-content-color-dark: #ffffff;


  --background-light: linear-gradient(#0900bb, #3f3200);
  --text-light: #000000;
  --primary-color-light: #FF9100;
}

body[data-theme="dark"] {
  background: var(--background-dark);
  color: var(--text-dark);
  h2{color: var(--h2-color-dark);}
  h4{color: var(--h4-color-dark);}
  p{color: var(--p-color-dark);}
  .modal-content{background-color: var(--modal-content-background-color-dark); color: var(--modal-content-color-dark); p {color: var(--modal-content-color-dark);}};
}

body[data-theme="light"] {
  background: var(--background-light);
  color: var(--text-light);
}

::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}

.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }
  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }
  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}
